<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Página Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio</h1>
        <br>
        <div th:if="${individuos !=null and individuos.empty}"></div>
            <table border="2">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                </tr>
                <tr th:each="individuo: ${individuos}">
                    <td th:text="${individuo.nombre}">nombre</td>
                    <td th:text="${individuo.apellido}">apellido</td>
                    <td th:text="${individuo.edad}">edad</td>
                    <td th:text="${individuo.telefono}">telefono</td>
                    <td th:text="${individuo.correo}">correo</td>
                </tr>
            </table>
        <div th:if="${individuos ==null or individuos.empty}">
            La lista no tiene información
        </div>
        
        
    </body>
</html>
